/**
  * Calculator related styles
*/
.binarizer
  padding       10px
  background    #333
  border-radius 5px
  display       inline-block
  text-align    center

  &__input
  &__result
  &__submit
    margin  6px auto
    display block
