*
  box-sizing border-box
  animation  fadeIn .25s

body
  background purple
  color      #fff
  text-align center

  &.loading
    background green

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1
